# Python-specific
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
*.log

# Virtual Environment
venv/
env/
ENV/
.venv/

# PyCharm-specific
.idea/
*.iml
.idea_modules/
out/
__pycache__/
.vscode/
.vscode-server/

# Jupyter Notebook-specific
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Miscellaneous
__init__.py
*.DS_Store

config.json
note.ipynb
config.ini
server.log